// a {
//     text-decoration: none;
//     color          : white;
// }

// a:hover,
// a:active {
//     color: lightgray;
// }

.navigation-items {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
}

mat-toolbar {
    border-radius: 0px;
}

.header {
    padding-left: 60px;
    padding-right: 60px;
}

.textHeader {
    color: dimgrey;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }
}