<!-- <mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>   
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
    </a>
  </mat-nav-list>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

  </div> -->
<div class="nav_list">
    <span class="textHeader">
        <img src="../../../assets/MC_HQ/images/logo.png" class="logo_nav_list">
        My Consulting HQ</span>
    <!-- <a routerLink="/home" class="textHeader">Owner-Account</a> -->
</div>

<mat-nav-list color="primary">
    <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{item | titlecase}} </a>
</mat-nav-list>