.nav_list {
    padding: 20px 0px 19px 18px;
    color: #524f4f;
    border-bottom: 1px solid #e0e0e0;
}

.logo_nav_list {
    vertical-align: middle;
    margin-right  : 5px;
    width         : 25px;
}